.imageWrapper{
    display: flex;
    justify-content: center;
    align-content: center;
}

.imageWrapper>img{
    cursor: pointer;
    overflow-y: auto;
}

.imageWrapper>img:hover{
    transform: translateY(-10px);
    transition: all 0.3s ease-out;
}

.imageDiv{
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.imageDivWrapper{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.whiteBackground{
    background-color: white;
}

/**
    fixes line at the bottom
**/
.whiteBackground>img{
    display:block;
}