.signIn{
    display: flex;
    white-space: nowrap;
    font-size: 1.25em;
}
.signInBtn{
    border: none;
    background-color: white;
}

.signInOverlay{
    background-color: white;
    width: 250px;
    padding: 5% 8% 3% 8%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.innerSignInBtn{
    margin-top: 15px;
}

.signInOverlay>input{
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right:auto;
}

.signIn:hover .signInBtn label{
    cursor: pointer;
}

.labeledInput{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.signInOverlayLabel{
    margin-bottom: 10px;
}

.signInRegisterLink{
    color: blue;
}