.userTools{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.toolsWrapper{
    display: flex;
    margin-left: 30px;
}


@media only screen and (max-width: 1110px){
    .searchBarWrapper{
        display:none;
    }
}