.brand{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    width: 100%;
}

.brandInfo{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items:center;
}

.brandInfoNameWrapper{

}

.followBtnWrapper{
    margin-top: 20%;
}

.brandInfoGalleryWrapper{
    grid-column: span 3;
}

.brandInfoGallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 10px;
    border: 1px solid black;
}

.brandInfoProduct{
    display: grid;
    justify-items: center;
    align-items: center;
}