.navBarWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    position: fixed;
}

.navBar{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brandDiv{
    font-size: 3em;
    font-family: 'Permanent Marker', cursive;
}